# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/

# Ignore files created by MacOS
.DS_Store

_config_dev.yml
#terminale 1
#printf 'url: ""\nbaseurl: ""\n' > _config_dev.yml
#bundle exec jekyll build --watch --config _config.yml,_config_dev.yml
#terminale 2
#python3 -m http.server 4000 --directory _site --bind 0.0.0.0